body{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
  }
  #all-contents{
    max-width: 800px;
    margin: auto;
  }
  /* navigation menu */
  nav{
    background: rgb(94, 100, 100);
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
  }
  h1{
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
  }
  #nav-ul{
    list-style-image: none;
  }
  .nav-li{
    display: inline-block;
    padding: 0 10px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  
  /* main container area beneath menu */
  main{
    background: rgb(72, 75, 75);
    display: flex;
    border-radius: 10px;
  }
  .bottomText {
    background: rgb(128, 0, 0);
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-color: black;
    box-shadow: 6px 6px #0000004b;
    margin-left: 15%;
    margin-right: 20%;
    max-width: 900px;
}
  .sidebar{
    margin-right: 25px;
    padding: 10px;
  }
  .sidebar-img{
    width: 200px;
  }
  .content{
    flex: 1;
    padding: 15px;
  }
  body{
    background: url(https://wallpaper-house.com/data/out/8/wallpaper2you_237856.jpg);
    background-attachment: fixed;
  }
  
  /* portfolio styles */
  #interests{
    border: 4px silver ridge;
    padding: 8px
  }
  h2, h3{
    margin: 0px;
  }
  /* portfolio styles */
.content h1{
    color:rgb(255, 255, 255);
  }
  
  #portfolio{
    list-style-type: none;
    padding-left: 0;
  }
  
  #portfolio li{
    background-color: rgb(145, 151, 150);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  #portfolio li:hover{
    background: #000000;
  }
  
  #portfolio a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }